* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    display: grid;
    place-items: center;
    background-color: rgb(237, 179, 189);
    height:100%;
    width:100%;
}

.btn{
  
    background-color: rgb(59, 54, 54);
    border-radius: 2px;
    box-shadow: 5px 8px 6px rgba(0,0,0,0.5);
    color:#fff;
    font-weight: 500;
    font-size:1rem;
    padding:10px 10px;
    cursor: pointer;
    /* to make our button in center we can also made by = margin:40vh 90vh */
}